extends layout.pug

block scripts
  script(src="/static/js/addItem.js")

block body
    h1 Hello from add item
    p(id="error").w-50.mx-auto.alert.alert-danger.none
    form(id="addItemForm").text-center
      div.p-1
        label(for="name") Name:
        input(type="text", id="name", placeholder="item name")
      div.p-1
        label(for="price") Price:
        input(type="number", id="price", placeholder="price")
      div.p-1
        label(for="quantity") Quantity:
        input(type="number", id="quantity", placeholder="Quantity")
      div.p-1
        label(for="expiry_date") Expiry Date:
        input(type="date", id="expiry_date")
      div.p-1
        label(for="Category") Category
        select(id="category")
          each category in categories
            option(value=category.id) #{category.name}
      div.p-1
        label(for="for_sale") For Sale:
          input(type="checkbox", id="for_sale")
      div.p-1
        button(type="button", onclick=`addItem()`).btn.btn-success Add Item